@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Nunito/nunito-v25-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/Nunito/nunito-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Nunito/nunito-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Nunito/nunito-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Nunito/nunito-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Nunito/nunito-v25-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}

html {
    font-family: Nunito, serif;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
}

p, li, h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

nav ul li {
    padding: 0 16px 0 16px;
    margin: 0 16px 0 16px;
    height: 32px;
    border-radius: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: .2s;
}

nav ul li:hover {
    background-color: #70a186;
}

nav ul li:not(:first-child) {
    border-left-width: 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
}

.alert {
    padding: 15px;
    margin-bottom: 5px;
    border: 1px solid;
    border-radius: 8px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #31708f;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #8a6d3b;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}

body {
    width: 600px;
    justify-items: center;
}

main {
    height: 800px;
    overflow: auto;
}

main > li {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;

    background-color: #282828;
    border-radius: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: .2s;
}

main > li:hover {
    background-color: #2c3a36;
}

main > li a {
    color: #10bc88;
    text-decoration: none;
}

footer p {
    border: 1px solid #ffffff;
    text-align: right;
    padding-right: 1em;
}

form {
    position: relative;
    top: 50%;
    left: 50%;
    width: 384px;
    max-height: 80%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    text-align: center;
    overflow: scroll;
}

form legend {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

form li {
    position: relative;
}

form li:not(:last-child) input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

form li label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

form li input[type=radio] ~ label {
    padding: 0 0;
}

form input:focus:not([type=radio]) ~ label,
form input:valid:not(:placeholder-shown):not([type=radio]) ~ label,
form input:read-only:not([type=radio]) ~ label,
form input:not(:placeholder-shown):not([type=radio]) ~ label,
form input[type=date] ~ label {
    top: -20px;
    left: 0;
    color: #10bc88;
    font-size: 12px;
}

form input:invalid:not(:placeholder-shown):not(:focus):invalid ~ label {
    color: #a94442;
}

form input:checked ~ label {
    font-weight: bold;
    color: #10bc88;
}

form input::placeholder {
    position: relative;
    left: 100%;
    opacity: 0;
    transition: .5s ;
}

form input:focus::placeholder {
    left: 0;
    opacity: 0.5;
}

form li:last-child input {
    border: 1px solid rgb(16, 188, 136);
    border-radius: 24px;
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: .5s;
}

form li:last-child input:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
}